! Xresources file

URxvt*.transparent: true
! URxvt*.shading: 0 to 99 darkens, 101 to 200 lightens
URxvt*.shading: 15

URxvt.allow_bold:           true
URxvt*font: xft:Ricty:size=10:antialias=true

URxvt*letterSpace: -1
URxvt.scrollstyle: next

! molokai inspired colors (darker version)
! vim: set ft=xdefaults:

URxvt*background:   #000000
URxvt*foreground:   #d0d0d0

URxvt*cursorColor:  #d0d0d0

URxvt*colorBD:      #3579a8
URxvt*colorUL:      #4eb4fa

!black
URxvt*color0:       #000000
URxvt*color8:       #1c1c1c

!red
URxvt*color1:       #960050
URxvt*color9:       #ff0090

!green
URxvt*color2:       #66aa11
URxvt*color10:      #80ff00

!yellow
URxvt*color3:       #c47f2c
URxvt*color11:      #ffba68

!blue
URxvt*color4:       #30309b
URxvt*color12:      #5f5fee

!magenta
URxvt*color5:       #7e40a5
URxvt*color13:      #bb88dd

!cyan
URxvt*color6:       #3579a8
URxvt*color14:      #4eb4fa

!white
URxvt*color7:       #5f5f5f
URxvt*color15:      #d0d0d0

! rofi's color
rofi.color-enabled: true
rofi.color-window: #273238, #273238, #1e2529
rofi.color-normal: #273238, #c1c1c1, #273238, #394249, #ffffff
rofi.color-active: #273238, #80cbc4, #273238, #394249, #80cbc4
rofi.color-urgent: #273238, #ff1844, #273238, #394249, #ff1844
